body {
  background-color:  red;
  color: red;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
h1 {
  color: blue;
  font-size: 36px
}
h2 {
  color: darkgreen;
}
button {
  background-color: blue;
  color: white;
  font-size: 18px
  width: 250px
  height: 60px
  margin: 40px
  padding: 10px
  border: 3px solid black
  border-radius: 30px
}
